<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://www.prosas.com.br">
                        Prosas
                    </a>
                </li>
            </ul>
        </nav>
		<div class="copyright pull-right">
            Desenvolvido por Mário Augusto Carvalho
        </div>
    </div>
</footer>