<%= render 'shared/settings' , path_name: 'Bem vindo!' %>
<div class="content">
  <div class="container-fluid">
    <div class="content">
      <div class="row">
        <div class="col-md-12" style="text-align: center">
          <h3>Olá seja bem vindo <strong><%=current_user.full_name %></strong>. 
          <hr />
          Atualmente nós temos um total de <strong><%=@total_breadcrumb %></strong> de caminhos</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/flash', flash: flash %>
